<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Blockbuster</title>
                <link rel="stylesheet" href="css/styles.css">
            </head>
            <body>
            <nav>
            <ul>
                <li><a href="'.PATH_DIR.'">Acceuil</a></li>
                <li><a href="'.PATH_DIR.'client">Client</a></li>
                <li><a href="'.PATH_DIR.'client/create">Créer un Client</a></li>
            </ul>
        </nav>
    <body>
        <div class="container">
            <img src="images/blockbuster-logo.png" alt="Blockbuster Logo" width="220" height="120">
            {{ name }}
            <h1>Bienvenue sur le site de Blockbuster</h1>
        </div>
    </body>
</html>